/* game container */
.game {
    margin: 20px 0;
}

/* game sidebar */
.game-sidebar {
    padding: 20px 0 10px 0;
    background: #4e5d6c;
}

.game-gamepic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.game-gametitle {
    text-align: center;
    margin-top: 20px;
}

.game-gametitle-name {
    color: inherit;;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.game-gametitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.game-gamebuttons {
    text-align: center;
    margin-top: 10px;
}

.game-gamebuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.game-gamebuttons .btn:last-child {
    margin-right: 0px;
}

.game-gamemenu {
    margin-top: 30px;
}

.game-gamemenu ul li {
    border-bottom: 1px solid #485563;
}

.game-gamemenu ul li:last-child {
    border-bottom: none;
}

.game-gamemenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.game-gamemenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.game-gamemenu ul li a:hover {
    background-color: #485563;
    color: inherit;
}

.game-gamemenu ul li.active {
    border-bottom: none;
}

.game-gamemenu ul li.active a {
    color: inherit;
    background-color: #3f4957;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}
