<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header" ng-controller="HeaderCtrl">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" target="_self">Trace Philosophy</a>
      </div>


      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <!--<li><a class="btn btn-default disabled" data-toggle="collapse"-->
                 <!--data-target="#bs-example-navbar-collapse-1[aria-expanded=true]"-->
                 <!--href="#/history" ng-show="model.isLoggedIn()">Search History</a></li>-->
          <li><a class="btn btn-default" data-toggle="collapse"
                 data-target="#bs-example-navbar-collapse-1[aria-expanded=true]"
                 href="#/user" ng-show="model.isLoggedIn()">{{model.userName()}}</a></li>
          <li><a class="btn btn-warning" data-toggle="collapse"
                 data-target="#bs-example-navbar-collapse-1[aria-expanded=true]"
                 href="#/login" ng-show="!model.isLoggedIn()" ng-click="login()">Log in</a></li>
          <li>
            <a class="btn btn-default" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1[aria-expanded=true]"
                    ng-show="model.isLoggedIn()" ng-click="logout()">Logout
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>